.style{
  padding: 10px;
}
.counter {
    position: absolute;
    top: -5px;
    right: 70px;
    color: white;
    font-size: 15px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;

}
.btn-toggle-dark i,
.btn-toggle-dark span {
  color: white !important;
}
body.dark-mode .btn-toggle-dark i,
body.dark-mode .btn-toggle-dark span {
  color: inherit !important;
}
.mode:hover{
  background-color: #444 !important;
}
